.ttError{
	color:red;
	border-color:red;
}
.error {
	background: rgb(255,100,100);
}
.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}

.ui-widget {
	font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
	font-size: 1.1em;
}
.ui-widget .ui-widget {
	font-size: 1em;
}

.ui-corner-all{
	border-top-left-radius: 0.4em;
	border-top-right-radius: 0.4em;
	border-bottom-left-radius: 0.4em;
	border-bottom-right-radius: 0.4em;
}

.ui-widget-content {
	border: 1px solid #2385a2;
	background: #fcfdfd 50% bottom repeat-x;
	color: #222222;
}

.ui-helper-hidden-accessible{
	display: none;
}

input[type=range]{
	width: 300px;
	margin-bottom: 20px;
}

input[type=button],input[type=submit],input[type=password]{
	border-radius: 4px;
	background-color: #fff;
}

main,header,footer{
	text-align: center;
}
#map{
	margin-top: 20px;
	margin-left: 60px;
}
footer{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	overflow:hidden;
}

#changePass label {
	display: inline-block;
	width: 180px;
	text-align: right;
	margin-right: 10px;
}?

 input[type=file] {
	 background-color: #fff;
 }
 #changePass{
	 margin-top: 80px;
 }
 #fileHint{
	 display: inline-block;
	 text-align: left;
 }
input[type=submit]{
	margin-top: 10px;
}